

<title>2019年春——计算机等级考试上机考场安排</title></head>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link th:href="@{/js/jquery-3.3.1.min.js}" rel="stylesheet"/>
<body leftmargin="0" topmargin="0">
<div align="center">
    <br>
    <center><a href="/user/list">全部查询</a></center>
    <center><font color="" face="宋体" size="+2">请选择查询方式</font></center>
    <br><form name="form1" action="/user/querylist" method="get">
    以学号方式查询：
    <input type="text" name="xh">
    &nbsp;
    <input type=submit value=查询>
</form>
    <form name="form3" action="/user/queryByName" method="get">
        以姓名方式模糊查询：
        <input type="text" name="name">
        &nbsp;
        <input type=submit value=查询>
    </form>
    <form name="form2" action="/user/querylist" method="get">
        以准考证号查询：
        <input type="text" name="zkzh">
        &nbsp;
        <input type=submit value=查询>
    </form>
    <form name="form4" action="/user/print" method="get">


        &nbsp;<center><a href="/user/printInfo">打印准考证界面</a></center>
        <input type=submit value=打印>
    </form>

    <table width="778" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
            <td height="1"></td>
        </tr>
    </table>
    <br>
    <a href=cclist.asp?room=3205><font size=5>3205</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;<a href=cclist.asp?room=3206><font size=5>3206</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;
    <p>
        <a href=cclist.asp?room=3207><font size=5>3207</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;<a href=cclist.asp?room=3305><font size=5>3305</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;
    <p>
        <a href=cclist.asp?room=3306><font size=5>3306</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;<a href=cclist.asp?room=3307><font size=5>3307</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;
    <p>
        <a href=cclist.asp?room=3310><font size=5>3310</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;<a href=cclist.asp?room=3311><font size=5>3311</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;
    <p>
        <a href=cclist.asp?room=3312><font size=5>3312</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;<a href=cclist.asp?room=5206><font size=5>5206</font></a>&nbsp;&nbsp;<font size=2>监考老师：待定</font>&nbsp;&nbsp;
    <p>


    <table width="778" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
            <td height="1"></td>
        </tr>
    </table> <br>

    <center><a href="/user/index">返回</a>
        <br>
        <font size="2">LLL</font><font size="2"> 版权所有</font>
        <br>
        <font face="Times New Roman, Times, serif" size="-1"><strong>Design
            By <a href="mailto:moxdopv754@163.com">L</a></strong></font>
    </center>

    <br>
    </td>
    </tr>
    </table>

</p>
</div>
</body>
</html>

